:root {
    --font-one: "Open Sans", sans-serif;
    --font-two: "Josefin Sans", sans-serif;
    --body-color: #656d6d;
    --body-bg-color: #f5f9f8;
    --heading-color: #272727;
    --attribute-color: #fcd088;
    --blockquote-color: #ebebeb;
    /*--------------------------------------------------------------
	# Tables
	--------------------------------------------------------------*/
    --table-color: #e0e0e0;
    --tableheader-bg-color: #f7f7f7;
    --tabledata-color: #dddddd;
    /*--------------------------------------------------------------
	Forms
	--------------------------------------------------------------*/
    --buttoninput-color: #fcd088;
    --buttoninput-border-color: #fcd088;
    --buttoninput-bg-color: transparent;
    --buttoninput-hover-color: #333;
    --buttoninput-hover-bg-color: #fcd088;
    --buttoninput-focus-border-top-color: #333;
    --buttoninput-focus-border-sides-color: #bbb;
    --buttoninput-focus-border-bottom-color: #bbb;
    --buttoninput-focus-box-shadow-inset-color: rgba(255, 255, 255, 0.5);
    --buttoninput-focus-box-shadow-inset-two-color: rgba(0, 0, 0, 0.15);
    --textarea-color: #666;
    --textarea-border-color: #ebebeb;
    --textarea-focus-color: #111;
    --select-border-color: #f2f2f3;
    /*--------------------------------------------------------------
	## Menus
	--------------------------------------------------------------*/
    --main-navigation-attribute-color: #fff;
    --main-navigation-list-style-before-border-top-color: #fcd088;
    --main-navigation-list-style-after-border-bottom-color: #fcd088;
    --main-navigation-list-style-bg-color: #1c1e21;
    --main-navigation-attribute-hover-color: #fcd088;
    /* Mobile menu */
    --buttonmenu-color: #fff;
    --buttonmenu-before-color: #fff;
    --main-navigation-mobile-bg-color: #202529;
    --main-navigation-mobile-list-style-border-bottom-color: rgba(255, 255, 255, 0.05);
    --main-navigation-mobile-list-style-bg-color: #171717;
    --postcomment-attribute-color: #272727;
    --postcomment-attribute-hover-color: #fcd088;
    /*--------------------------------------------------------------
	# Accessibility
	--------------------------------------------------------------*/
    --screen-reader-text-focus-bg-color: #f1f1f1;
    --screen-reader-text-focus-box-shadow-color: rgba(0, 0, 0, 0.6);
    --screen-reader-text-focus-color: #21759b;
    /*--------------------------------------------------------------
	# Widgets
	--------------------------------------------------------------*/
    --widget-area-bg-color: #fff;
    --widget-area-border-color: #f2f2f3;
    --widget-area-attribute-color: #656d6d;
    --widget-social-bg-color: #eaab1c;
    --widget-social-list-style-attribute-color: #fff;
    /* Default widgets */
    --tagcloud-attribute-border-color: #41474f;
    /*--------------------------------------------------------------
	# Content
	--------------------------------------------------------------*/
    /*--------------------------------------------------------------
	## Posts and pages
	--------------------------------------------------------------*/
    --hentry-bg-color: #fff;
    --hentry-border-color: #f2f2f3;
    --entry-meta-border-top-color: #f2f2f3;
    --entry-meta-border-bottom-color: #f2f2f3;
    --entry-meta-border-attribute-color: #a0a8ab;
    --entry-title-and-attribute-color: #272727;
    --entry-title-and-attribute-hover-color: #fcd088;
    /*--------------------------------------------------------------
	## Comments
	--------------------------------------------------------------*/
    --comments-title-border-color: #f2f2f3;
    --comments-title-bg-color: #fff;
    --comment-body-border-left-color: #f2f2f3;
    --comment-body-border-right-color: #f2f2f3;
    --comment-body-border-left-bottom: #f2f2f3;
    --comment-body-and-children-border-left-color: #f2f2f3;
    --comment-reply-link-bg-color: #fff;
    --comment-reply-link-attribute-color: #000;
    --comment-reply-link-attribute-box-shadow-color: #505050;
    --comment-metadata-attribute-color: #444;
    --comment-respond-border-right-color: #f2f2f3;
    /*--------------------------------------------------------------
	## Widgetised
	--------------------------------------------------------------*/
    --row-overlay-bg-color: rgba(37, 46, 53, 0.8);
    /* Block titles */
    --widget-title-title-decoration-bg-color: rgba(92, 98, 101, 0.3);
    --widget-title-atblock-bg-color: #d2d8da;
    --service-title-attribute-color: #272727;
    --service-title-attribute-hover-color: #fcd088;
    /* Skills */
    --progress-bar-bg-color: #e8ecee;
    --progress-animate-bg-color: #fcd088;
    --fact-fa-color: #fcd088;
    --fact-and-number-border-top: rgba(92, 98, 101, 0.3);
    --fact-and-number-border-bottom: rgba(92, 98, 101, 0.3);
    --employee-title-bg-color: #202529;
    --employee-title-attribute-color: #fff;
    --employee-title-attribute-hover-color: #fcd088;
    --project-thumb-before-bg-color: rgba(37, 46, 53, 0.8);
    --project-thumb-attribute-color: #fff;
    --project-thumb-attribute-before-bg-color: rgba(255, 255, 255, 0.2);
    --project-thumb-attribute-after-bg-color: rgba(255, 255, 255, 0.2);
    --testimonial-content-bg-color: #fff;
    --testimonial-content-border-color: #f2f2f3;
    --testimonial-svg-fill-color: #fff;
    --testimonial-svg-stroke-color: #f2f2f3;
    --testimonial-title-attribute-color: #272727;
    --testimonial-title-attribute-hover-color: #fcd088;
    /*--------------------------------------------------------------
	## Structure
	--------------------------------------------------------------*/
    --site-title-attribute-color: #fff;
    --site-description-attribute-color: #bdbdbd;
    --site-content-bg-color: #fff;
    --site-content-border-left-color: #f2f2f3;
    --site-content-border-right-color: #f2f2f3;
    --site-content-border-bottom-color: #f2f2f3;
    --body-page-template-page-widgetized-builder-bg-color: #fff;
    --page-header-title-fa-color: #fcd088;
    /*--------------------------------------------------------------
	## Header
	--------------------------------------------------------------*/
    --site-header-bg-color: #202529;
    --site-header-border-bottom-color: rgba(255, 255, 255, 0.1);
    --site-header-has-video-header-bg-color: transparent;
    --site-header-scrolled-bg-color: rgba(32, 37, 41, 0.9);
    --site-header-scrolled-border-bottom-color: transparent;
    --header-image-after-bg-color: rgba(37, 46, 53, 0.9);
    --header-text-color: #fff;
    --header-subtext-color: #fff;
    --header-subtext-border-bottom-color: rgba(255, 255, 255, 0.1);
    /*--------------------------------------------------------------
	## Footer
	--------------------------------------------------------------*/
    --footer-info-bg-color: #202529;
    --footer-widget-border-bottom-color: rgba(255, 255, 255, 0.08);
    --site-footer-attribute-color: #a3aaaa;
    --site-footer-attribute-hover-color: #fcd088;
    --footer-widgets-title-color: #fff;
    /* Footer branding */
    --footer-info-border-bottom-color: rgba(255, 255, 255, 0.08);
    /* Footer contact */
    --footer-contact-border-left-color: rgba(255, 255, 255, 0.08);
    --footer-contact-block-span-border-top-color: rgba(255, 255, 255, 0.08);
    /*--------------------------------------------------------------
	## Preloader
	--------------------------------------------------------------*/
    --preloader-bg-color: #fff;
    --preloader-inner-list-style-bg-color: #fcd088;
    /*--------------------------------------------------------------
	## Woocommerce
	--------------------------------------------------------------*/
    --woocommerce-content-area-border-top-color: #f2f2f3;
    --woocommerce-star-rating-color: #fcd088;
    --woocommerce-cart-border-color: #fcd088;
    --woocommerce-cart-button-color: #fcd088;
    --woocommerce-cart-bg-color: transparent;
    --woocommerce-message-bg-color: #fcd088;
    --woocommerce-message-before-color: #fcd088;
    --woocommerce-cart-button-bg-hover-color: #fcd088;
    --woocommerce-cart-button-hover-color: #333;
    --woocommerce-list-syle-products-price-color: #272727;
    --woocommerce-span-onsale-bg-color: #fcd088;
    --woocommerce-breadcrumb-border-color: #f2f2f3;
    --woocommerce-navigation-list-syle-span-current-bg-color: #f9f9f9;
    --woocommerce-navigation-list-syle-border-color: #f2f2f3;
    --woocommerce-quantity-border-color: #f2f2f3;
    --woocommerce-div-product-price-color: #272727;
    --woocommerce-div-product-list-style-tabs-border-before-color: #f2f2f3;
    --woocommerce-div-product-list-style-tabs-border-color: #f7f7f7;
    --select2-container-choice-border-color: #ebebeb;
    --woocommerce-checkout-payment-bg-color: transparent;
    --woocommerce-div-product-span-price-color: #272727;
    /*--------------------------------------------------------------
	## Responsive
	--------------------------------------------------------------*/
    --responsive-site-header-video-bg-color: #202529;
}